---
title: Mirrors Wellness Club

pageClassName: p-home
---
extends shared/_layout

block content
  main.main.main--start(class!= pageClassName)

    section#roadmap.roadmap

      .container

        h1.roadmap__title ROADMAP

        .roadmap__box-wrapper
          div
            .roadmap__visual.roadmap__visual-1
              img.roadmap__visual-line(src="img/img-roadmap-line-1.svg" alt="")
              img.roadmap__visual-img(src="img/img-roadmap-visual-1.png" srcset="img/img-roadmap-visual-1@2x.png" alt="")
            .roadmap__box.roadmap__box-1
              .card
                .card-body
                  img.card-icon(src="img/img-roadmap-card-icon.svg" alt="")
                  h5.card-title Phase 1
                  img.roadmap__visual-img(src="img/img-roadmap-visual-1.png" srcset="img/img-roadmap-visual-1@2x.png" alt="")
                  p.card-text Launch "My Dawg Frenchie" NFT collection- (Open Editions or 9,999) Collectible Pieces of original art, which is the 1st Collection under Mirrors Wellness Club.
                  p.card-text Upon revealing the name of the 2nd collection, MWC will WL 1000 MWC members & 1000 non-MWC members so that we are fair to who can join the MWC.
          div
            .roadmap__box.roadmap__box-2
              .card
                .card-body
                  img.card-icon(src="img/img-roadmap-card-icon.svg" alt="")
                  h5.card-title Phase 2
                  p.card-text The 3rd collection will be 3,333 original pieces. In addition, MWC Day parties in Atlanta, Miami, NYC, Houston, and LA announced special feature guests.
            .roadmap__visual.roadmap__visual-2
              img.roadmap__visual-line(src="img/img-roadmap-line-2.svg" alt="")
          div
            .roadmap__visual.roadmap__visual-3
              img.roadmap__visual-line(src="img/img-roadmap-line-3.svg" alt="")
              img.roadmap__visual-img(src="img/img-roadmap-visual-2.png" srcset="img/img-roadmap-visual-2@2x.png" alt="")
            .roadmap__box.roadmap__box-3
              .card
                .card-body
                  img.card-icon(src="img/img-roadmap-card-icon.svg" alt="")
                  h5.card-title Phase 3
                  img.roadmap__visual-img(src="img/img-roadmap-visual-2.png" srcset="img/img-roadmap-visual-2@2x.png" alt="")
                  p.card-text MWC's 4th collection will be 1,111 super original and rare NFT in partnership with a special guest. In addition, we will announce plans for our annual fund-raising west coast bike ride.
          div
            .roadmap__box.roadmap__box-4
              .card
                .card-body
                  img.card-icon(src="img/img-roadmap-card-icon.svg" alt="")
                  h5.card-title Phase 4
                  img.roadmap__visual-img(src="img/img-roadmap-visual-3.png" srcset="img/img-roadmap-visual-3@2x.png" alt="")
                  p.card-text All the benefits of being a member of MWC are announced with dates and locations for the annual retreat.
            .roadmap__visual.roadmap__visual-4
              img.roadmap__visual-line(src="img/img-roadmap-line-4.svg" alt="")
              img.roadmap__visual-img(src="img/img-roadmap-visual-3.png" srcset="img/img-roadmap-visual-3@2x.png" alt="")
